/*card*/

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    width: 20rem;
}

.card-body {
    max-height: 10rem;
    overflow-y: auto;
}

form {
    max-width: 800px;
    margin: 0 auto;
}

.navbar-fixed-bottom {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
}

.container{
    margin-bottom: 5rem;
}


/*IMAGE*/
.img-thumbnail {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/*FORM*/

form {
    max-width: 800px;
    margin: 0 auto;
    min-height: 800px;
}

/*BUTTON*/
.btn-sm {
    width: 100px;
    margin-left: 20px;
}
.btn-lg {
    width: 150px;
    margin-left: 20px;
}
